<section class="card">
   <div class="card-block">
        <img src="{{ url_for('static', filename='images/plains2peaks-tmp-logo.png')}}" class="card-img-top"
        <h4 class="card-title">Plains2Peaks.org - DPLA Service Hub for Colorado/Wyoming 
            <a href="{{ url_for('slide', page='dpla-service-hub') }}"><i class="fa fa-share" aria-hidden="true"></i> </a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Blazegraph Triplestore, RDF Framework, BIBCAT</h6>
        <p class="card-text">
            A <a href="#">State Library of Colorado</a> sponsored effort to aggregate the metadata from across 
            different libraries and museums in Colorado and Wyoming and provide a JSON-LD DPLA 
            Map v4 feed to <a href="https://dp.la">DP.LA</a>. 
        </p>
       <a href="https://github.com/KnowledgeLinks/dpla-service-hub" 
           class="card-link">Source Code Repository</a>

       <a href="http://www.plains2peaks.org/" 
           class="card-link">Live Application</a>
   </div>
</section>
