<article class="card">
    <div class="card-block">
    <img class="card-img-top" itemprop="image"
               src="{{ url_for('static', filename='images/Kean_University_Logo.png') }}" 
               alt="Colorado College"></a>
        <h4 class="card-title">Kean University Academic Concierge App</h4>
        <h6 class="card-subtitle mb-2 text-muted">BIBCAT, RDF Framework, Blazegraph Triplestore</h6>
        <p class="card-text">
            Joint project with <a href="#">Influx Design</a> and 
            <a href="http://doklab.nl">Doklab</a> &hellip;
        </p>
    </div>
</article>
