{% extends 'base.html' %}

{% set category='project' %}

{% block main %}
<h2>{{ title }}</h2>
<h1>Colorado College ETD</h1>
<div class="row">
    <div class="col-md-8">
        <h3>Application Overview</h3>
        <p class="lead">
            This web-based application allows seniors at <a href="https://www.coloradocollege.edu">Colorado College</a> 
            to self-submit their thesis along with any accompanying datasets, video, or audio to Colorado College's 
            <a href="https://fedora-commons.org">Fedora</a>-based institutional repository. 
        </p>
        <h3>Project Timeline</h3>
        <article class="jumbotron" id="ccetd-history-1">
            <h2>2011-2012</h2>
            <h3>Build</h3>
                <p class="lead">
                    This project originally started as part of <a href="https://www.djangoproject.com/">Django</a>-based 
                    Discovery Layer <a href="https://github.com/jermnelson/Discover-Aristotle">Aristotle</a> project. 
                    Because of requirements for a Discovery layer and a self-submission electronic theses application are
                    different enough, the ETD application became the open-source 
                    <a href="https://github.com/Tutt-Library/ccetd/">CCETD</a> project with the
                    first commit being made on June 24th, 2011.                  
                </p>
                <p>
                    For each academic department a configuration file was created as an <code>ini</code> file with 
                    configuration information including a list of faculty names and emails along with any special
                    MODS metadata that needed to be included in the student's thesis that was stored on a Fedora-based
                    repository hosted by the Colorado Alliance of Research Libraries. 
                </p>

            <h3>Measure</h3>
                <p class="lead">
                   The first year of self-submission of thesis result in   
                </p>
            <h3>Learn</h3>
                <p class="lead">

                </p>
        </article>
        <article class="jumbotron" id="ccetd-history-2">
            <h2>2012-2014</h2>
            <h3>Build</h3>
                <p class="lead">
                </p>
            <h3>Measure</h3>
                <p class="lead">

                </p>
            <h3>Learn</h3>
                <p class="lead">

                </p>
        </article>
        <article class="jumbotron" id="ccetd-history-3">
            <h2>2014-2015</h2>
            <h3>Build</h3>
                <p class="lead">
                
                </p>
            <h3>Measure</h3>
                <p class="lead">

                </p>
            <h3>Learn</h3>
                <p class="lead">

                </p>
        </article>
        <article class="jumbotron" id="ccetd-history-4">
            <h2>2016-2017</h2>
            <h3>Build</h3>
                <p class="lead">
                
                </p>
            <h3>Measure</h3>
                <p class="lead">

                </p>
            <h3>Learn</h3>
                <p class="lead">

                </p>
        </article>
    </div>
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/cc-logo.png') }}" class="img">

        <section class="card">
            <div class="card-block">
                <h4 class="card-title"></h4>
                <h6 class="card-subtitle mb-2 text-muted">Blazegraph Triplestore, RDF Framework, BIBCAT</h6>
                <p class="card-text">
                
                </p>
                <a href="https://github.com/Tutt-Library/ccetd" 
                    class="card-link">Source Code Repository</a>


            </div>
        </section>
        <h2>Thanks &amp; Acknowledgments</h2>
        <div class="card" itemscope itemtype="http://schema.org/Person" style="width: 275px">
            <img class="card-img-top" itemprop="image"
                src="{{ url_for('static', filename='images/LisaLister.png') }}" 
                alt="Lisa Lister">
            <div class="card-block">
            <h4 class="card-title" itemprop="name">Lisa Lister</h4>
            <p class="card-text" itemprop="description">
                Lisa Lister, interim library director at Colorado College's 
                <a href="https://www.coloradocollege.edu/library">Tutt Library</a>, 
                has been involved in the development and promotion of the CC ETD application. 
                
            </p>
            <a href="" class="btn btn-primary">Go somewhere</a>
        </div>
</div>


    </div>
</div>
{% endblock main %}
