{% extends 'base.html' %}


{% block main %}
<h2>{{ title }}</h2>
<h1>Colorado College ETD</h1>
<div class="row">
    <div class="col-md-8">
        <h3>Application Overview</h3>

    </div>
    <div class="col-md-4">
        <section class="card">
            <div class="card-block">
                <h4 class="card-title"></h4>
                <h6 class="card-subtitle mb-2 text-muted">Blazegraph Triplestore, RDF Framework, BIBCAT</h6>
                <p class="card-text">
                
                </p>
                <a href="https://github.com/Tutt-Library/ccetd" 
                    class="card-link">Source Code Repository</a>


            </div>
        </section>


    </div>
</div>
{% endblock main %}
