{% extends 'base.html' %}

{% set category='project' %}

{% block main %}
<h2>{{ title }}</h2>
<h1>Colorado College ETD</h1>
<div class="row">
    <div class="col-md-8">
        <h3>Application Overview</h3>
        <p class="lead">
            This web-based application allows seniors at <a href="https://www.coloradocollege.edu">Colorado College</a> 
            to self-submit their thesis along with any accompanying datasets, video, or audio to Colorado College's 
            <a href="https://fedora-commons.org">Fedora</a>-based institutional repository. 
        </p>
        <h3>Project Timeline</h3>
        <article class="jumbotron" id="ccetd-history-1">
            <h2>2011-2012</h2>
                <p class="lead">
                    This project originally started as part of <a href="https://www.djangoproject.com/">Django</a>-based 
                    Discovery Layer <a href="https://github.com/jermnelson/Discover-Aristotle">Aristotle</a> project. 
                    Because of requirements for a Discovery layer and a self-submission electronic theses application are
                    different enough, the ETD application became the open-source 
                    <a href="https://github.com/Tutt-Library/ccetd/">CCETD</a> project with the
                    first commit being made on June 24th, 2011.                  
                </p>
                <p>
                    For each academic department a configuration file was created as an <code>ini</code> file with 
                    configuration information including a list of faculty names and emails along with any special
                    MODS metadata that needed to be included in the student's thesis that was stored on a Fedora-based
                    repository hosted by the Colorado Alliance of Research Libraries. 
                </p>
                <p>Students used their library card number to authenticate to the thesis application; 
                however, problems were encountered when student's changed the IDs. </p>
        </article>
        <article class="jumbotron" id="ccetd-history-2">
            <h2>2012-2014</h2>
            <p class="lead">During this time period, minor changes were made to application including 
            sending an email to the student's thesis advisor and the departmental administrative assistant
            as well as the student.</p>
            <p>The most common problem was authentication to the thesis application because of changing
                IDs or they had never used the 
                library during their undergraduate career and activated their library card.</p>
        </article>
        <article class="jumbotron" id="ccetd-history-3">
            <h2>2014-2015</h2>
                <p class="lead">
                    During this time period a major refactoring occurred to migrate the application from 
                    Django to Flask. The underlying workflow structured as <code>ini</code> files was 
                    retained and the all of the templates were migrated to <a href="http://jinja.pocoo.org/">Jina2</a>.
                    Forms were migrated from the Django framework to use <a href="https://wtforms.readthedocs.io/en/latest/">wtforms</a>
                </p>
        </article>
        <article class="jumbotron" id="ccetd-history-4">
            <h2>2016-2017</h2>
                <p class="lead">
                    The latest iteration of CCETD Application uses Colorado 
                    College's new institutional 
                    <a href="{{ url_for('slide', page='create-knowledge-graph') }}#colorado-college">knowledge graph</a>
                    to populate the self-submission form and to save back IRIs to the MODS metadata.
                </p>
                <p>
                    The second major new functionality is adding support for LDAP to the 
                    Catalog Pull Platform so that Colorado College Seniors can use their
                    single-signon campus credentials for authenticating to this RDF
                    application.
                </p>
         </article>
    </div>
    <div class="col-md-4">
        {% include 'cards/cc-etd.html' %}
        <h2>Thanks &amp; Acknowledgments</h2>
        <div class="card" itemscope itemtype="http://schema.org/Person" style="width: 275px">
            <img class="card-img-top" itemprop="image"
                src="{{ url_for('static', filename='images/LisaLister.png') }}" 
                alt="Lisa Lister">
            <div class="card-block">
            <h4 class="card-title" itemprop="name">Lisa Lister</h4>
            <p class="card-text" itemprop="description">
                Lisa Lister, interim library director at Colorado College's 
                <a href="https://www.coloradocollege.edu/library">Tutt Library</a>, 
                has been involved in the development and promotion of the CC ETD application. 
                
            </p>
            <a href="" class="btn btn-primary">Go somewhere</a>
        </div>
</div>


    </div>
</div>
{% endblock main %}
