{% extends 'base.html' %}

{% set category='project' %}

{% block main %}
<h2>{{ title }}</h2>
<h1>Colorado Alliance BIBCAT Pilot</h1>
<div class="row">
    <div class="col-md-4">
        {% include 'cards/bibcat-coalliance.html' %}
    </div>
    <div class="col-md-8">
        <img src="{{ url_for('static', filename='images/google-logo.png') }}"> 
        <img src="{{ url_for('static', filename='images/cu-boulder-logo.png') }}" style="background-color: rgb(0,0,0)">

        <a href="https://www.coloradocollege.edu/"><img src="{{ url_for('static', filename='images/cc-logo.png') }}"></a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-8">
        <h1>Project Iterations</h1>
        <article class="jumbotron" id="coalliance-bibcat-bml-1">
            <h2>BML Iteration One</h2>
            <h3>Build</h3>
                <p class="lead">
                    The 
                </p>
            <h3>Measure</h3>
                <ul class="lead">
                    <li>
                        Number of BF Instances indexed by Google: <span>164,XXX</span>
                    </li>
                    {% set query_terms = ['Helen Hunt Jackson Ramona']%}
                    <li>
                        Ad Hoc General Google Searches:
                        <ol>
                            <li>
                                <em>{{ query_terms.0 }}</em>:
                            </li>
                            <li></li>
                        </ol>
                    </li>
                    <li>
                        Site Specific Search on <a href="http://bibcat.coalliance.org">http://bibcat.coalliance.org</a>
                        <ol>
                            <li>
                                <strong>{{ query_terms.0 }}</strong>:
                            </li>


                        </ol>
                    </li>
                    <li>

                    </li>
                </ul>
            <h3>Learn</h3>
                <p class="lead">
                    For some 
                </p>
        </article>
        <article class="jumbotron" id="coalliance-bibcat-bml-2">
            <h2>BML Iteration Two</h2>
            <h3>Build</h3>
            <h3>Measure</h3>
            <h3>Learn</h3>
        </article>
    </div>
    <div class="col-md-3">
        <h2>Thanks &amp; Acknowledgments</h2>
        <div class="card" itemscope itemtype="http://schema.org/Person" style="width: 275px">
            <img class="card-img-top" itemprop="image"
                src="{{ url_for('static', filename='images/GeorgeMachovec.png') }}" 
                alt="Image of George Machovec">
            <div class="card-block">
                <h4 class="card-title" itemprop="name">George Machovec</h4>
                <p class="card-text" itemprop="description">
                George Machovec is the Executive Director
                
                </p>
                <a href="mailto:george@coalliance.org" class="btn btn-primary">
                <i class="fa fa-id-card-o"></i>
                Email</a>
            </div>
        </div>
        <br>
        <div class="card" itemscope itemtype="http://schema.org/Person" style="width: 275px">
            <img class="card-img-top" itemprop="image"
                src="{{ url_for('static', filename='images/SteveWalker.png') }}" 
                alt="Image of Steve Walker">
            <div class="card-block">
                <h4 class="card-title" itemprop="name">Steve Walker</h4>
                <p class="card-text" itemprop="description">
                    Steve Walker is the Systems and Network Administrator
                </p>
                <a href="mailto:steve@coalliance.org" class="btn btn-primary">
                    <i class="fa fa-id-card-o"></i>
                    Email</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}
