{% extends 'base.html' %}

{% set category='project' %}

{% block main %}
<h2>{{ title }}</h2>
<h1>Colorado Alliance BIBCAT Pilot</h1>
<img src="{{ url_for('static', filename="images/coalliance-logo.png") }}" class="pull-left img img-thumbnail">

<p class="lead">
    Using selected MARC 21 records from <a href="https://www.coloradocollege.edu/">Colorado College</a>
    and the <a href="http://www.colorado.edu/">University of Colorado at Boulder</a> that were generated 
    from the Alliance's Gold Rush comparison service, this project uses the BIBCAT to transform 
    MARC 21 into BIBFRAME that is then published to the web as Schema.org JSON-LD for indexing by Google, 
    Bing, and other search engines. BIBCAT uses RDF rules that map MARC 21 fields and subfields to 
    BIBFRAME 2.0 entities and properties. 
</p>
<img src="{{ url_for('static', filename='images/cu-boulder-logo.png') }}" style="background-color: rgb(0,0,0)">
<a href="https://www.coloradocollege.edu/"><img src="{{ url_for('static', filename='images/cc-logo.png') }}"></a>
<div class="row">
    <div class="col-md-8">
        <h1>Project Iterations</h1>
        <article class="jumbotron" id="coalliance-bibcat-bml-1">
            <h2>BML Iteration One</h2>
            <h3>Build</h3>
                <p class="lead">
                </p>
            <h3>Measure</h3>
                <p class="lead">

                </p>
            <h3>Learn</h3>
                <p class="lead">

                </p>
        </article>
    </div>
    <div class="col-md-3">
        <h2>Thanks &amp; Acknowledgments</h2>
        <div class="card" itemscope itemtype="http://schema.org/Person" style="width: 275px">
            <img class="card-img-top" itemprop="image"
                src="{{ url_for('static', filename='images/GeorgeMachovec.png') }}" 
                alt="Image of George Machovec">
            <div class="card-block">
                <h4 class="card-title" itemprop="name">George Machovec</h4>
                <p class="card-text" itemprop="description">
                George Machovec is the Executive Director
                
                </p>
                <a href="mailto:george@coalliance.org" class="btn btn-primary">
                <i class="fa fa-id-card-o"></i>
                Email</a>
            </div>
        </div>
        <br>
        <div class="card" itemscope itemtype="http://schema.org/Person" style="width: 275px">
            <img class="card-img-top" itemprop="image"
                src="{{ url_for('static', filename='images/SteveWalker.png') }}" 
                alt="Image of Steve Walker">
            <div class="card-block">
                <h4 class="card-title" itemprop="name">Steve Walker</h4>
                <p class="card-text" itemprop="description">
                    Steve Walker is the Systems and Network Administrator
                </p>
                <a href="mailto:steve@coalliance.org" class="btn btn-primary">
                    <i class="fa fa-id-card-o"></i>
                    Email</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}
