{% extends 'base.html' %}

{% set category='activity' %}

{% block main %}
<h2>{{ title }}</h2>
<h1>Creating a Knowledge Graph</h1>

<div class="row">
    <div class="col-md-3">
        <div  class="alert alert-success">
            <h4>What do we mean when we say "Knowledge Graph"?</h4>
            <p>One or more RDF graphs that represent an institution's "facts" or information modeled as
            relationships and entities as <a href="{{ url_for('slide', page='glossary') }}#iri">IRI</a>
            </p>  
        </div>
    </div>
    <div class="col-md-8">
        <h2>Manually with a Text Editor</h2>
<pre>
@prefix rdf: <>
@prefix rdfs: <>
@prefix schema: &lt;http://schema.org/&gt;

&lt;http://intro2libsys.info/code4lib-2017&gt; a schema:EducationEvent ;
    schema:endDate "2017-03-11T26:59:99" ;
    schema:startDate "2017-03-11T20:00:00" . 

</pre>
        <hr>
        <h2>Programmatically with Python &amp; rdflib</h2>
        <ol>
            <li><kbd>(p3-env)&gt; python</kbd></li>
            <li><pre class="bg-invert">
>> import rdflib
>> SCHEMA = rdflib.Namespace("http://schema.org/")
>> preconference = rdflib.ConjuctiveGraph()
>> preconference_iri = rdflib.URIRef("http://intro2libsys.info/code4lib-2017")
>> preconference.add((preconference_iri,
                      rdflib.RDF.type,
                      SCHEMA.EducationEvent))
>> preconference.add((preconference_iri,
                      SCHEMA.startDate,
                      rdflib.Literal("2017-03-11T20:00:00")))
        </pre></li> 
    </div>
</div>
{% endblock %}
