{% extends 'base.html' %}

{% set category='project' %}

{% block main %}
<h2>{{ title }}</h2>
<h1>Plains2Peaks.org - DPLA Service Hub for Colorado &amp; Wyoming</h1>
<p class="lead">
    This project uses BIBCAT to transform different formats and vocabularies 
    from multiple sources including Denver Public Library's RDF Dublin Core, 
    Colorado College and University of Wyoming MODS metadata, and a metadata 
    provided as custom CSV file from the History Colorado museum into 
    BIBFRAME 2.0 entities stored in a triplestore. BIBCAT uses RDF-based rules 
    to ingest these sources while allowing for easy customization and modification 
    through simple editing of RDF turtle file.
</p>
<div class="row">

    <div class="col-md-4">
        {% include 'cards/dpla-plains2peaks.html' %}
    </div>
    <div class="col-md-8">
        <h3>Pilot Participants</h3>
        <a href="https://www.denverlibrary.org/">
            <img src="{{ url_for('static', filename='images/denver-public-logo.png') }}" 
            class="img" style="background-color: rgb(75, 113, 144); width: 80%; padding: .5em"
            alt="Denver Public Library"></a>
        <img src="{{ url_for('static', filename='images/university-of-wyoming.png') }}" alt="University of Wyoming" >
        <img src="{{ url_for('static', filename="images/cc-logo.png") }}" style="height: 100px" alt="Colorado College">
        <img src="{{ url_for('static', filename="images/marmot-logo.png") }}" style="height: 100px" alt="Marmot Library Network">
        <img src="{{ url_for('static', filename="images/cospl-logo.png") }}"  alt="Colorado State Publication Library">
        <img src="{{ url_for('static', filename="images/wyoming-state-library.png") }}" alt="Wyoming State Library">
        <hr>
        <h3>Project Iterations</h3>
        <article class="jumbotron" id="dpla-service-hub-bml-1">
            <h2>BML Iteration One</h2>
            <h3>Build</h3>
                <p class="lead">
                The first proof of concept for the project started in September of 2016 with 
                </p>
            <h3>Measure</h3>
                <p class="lead">

                </p>
            <h3>Learn</h3>
                <p class="lead">

                </p>
        </article>
        <article class="jumbotron" id="dpla-service-hub-bml-2">
            <h2>BML Iteration Two</h2>
            <h3>Build</h3>
            <h3>Measure</h3>
                <p class="lead">

                </p>
            <h3>Learn</h3>
                <p class="lead">

                </p>

        </article>
    </div>
</div>
<hr>
<h2>Thanks &amp; Acknowledgments</h2>
<div class="row">
    <div class="col-md-3">
        <div class="card" itemscope itemtype="http://schema.org/Person" style="width: 275px">
            <i class="fa fa-user fa-5x mx-auto" style="padding: .5em"></i>
            <div class="card-block">
                <h4 class="card-title" itemprop="name">Regan Harper</h4>
                <p class="card-text" itemprop="description">
                    Regan Harper is the director of the Colorado State Library's
                    Networking and Resource Sharing department &hellip;
                </p>
                <a href="mailto:harper_r@cde.state.co.us" class="btn btn-primary">
                <i class="fa fa-id-card-o"></i>
                Email</a>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="card" itemscope itemtype="http://schema.org/Person" style="width: 275px">
            <img class="card-img-top" itemprop="image"
                src="{{ url_for('static', filename='images/LeighJeremias.png') }}" 
                alt="Image of Leigh Jeremias">
            <div class="card-block">
                <h4 class="card-title" itemprop="name">Leigh Jeremias</h4>
                <p class="card-text" itemprop="description">
                    Leigh Jeremias is the Digital Collections Coordinator in 
                    the Colorado State Library's
                    Networking and Resource Sharing department &hellip;
                </p>
                <a href="mailto:ljeremias@coloradovirtuallibrary.org" class="btn btn-primary">
                <i class="fa fa-id-card-o"></i>
                Email</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
            <div class="card" itemscope itemtype="http://schema.org/Person" style="width: 275px">
            <i class="fa fa-user fa-5x mx-auto" style="padding: .5em"></i>

            <div class="card-block">
                <h4 class="card-title" itemprop="name">Mark Ferguson</h4>
                <p class="card-text" itemprop="description">
                    Mark Ferguson is the System Administrator at the Colorado State Library's
                    Networking and Resource Sharing department &hellip;
                </p>
                <a href="mailto:mferguson@coloradovirtuallibrary.org" class="btn btn-primary">
                <i class="fa fa-id-card-o"></i>
                Email</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" itemscope itemtype="http://schema.org/Person">
            <img class="card-img-top" itemprop="image"
                src="{{ url_for('static', filename='images/CraigHaggit.png') }}" 
                style="width: 223px"
                
                alt="Image of Craig Haggit">
            <div class="card-block">
                <h4 class="card-title" itemprop="name">Craig Haggit</h4>
                <p class="card-text" itemprop="description">
                    Craig Haggit is the Senior Cataloger at Denver Public Library &hellip;
                </p>
                <a href="mailto:#" class="btn btn-primary">
                <i class="fa fa-id-card-o"></i>
                Email</a>
            </div>
        </div>
    </div>

</div>
{% endblock main %}
