{% extends 'base.html' %}

{% set category='resource' %}

{% block main %}
<h1><i class="fa fa-th-list" aria-hidden="true"></i> Glossary</h1>
<dl class="row">
    <dt id="bibcat" class="col-sm-3">BIBCAT</dt>
        <dd class="col-sm-9">An open-source project, originally contract by the Library of Congress &hellip;</dd>
    <dt id="bibframe" class="col-sm-3">BIBFRAME</dt>
        <dd class="col-sm-9">An RDF vocabulary created by the Library of Congress &hellip;</dd>
    <dt id="cpp" class="col-sm-3">Catalog Pull Platform</dt>
        <dd class="col-sm-9">Inspired by the Lean Startup and the concept of Pull Platform, an overarching vision of approaching
        bibliographic and operational &hellip; </dd>
    <dt id="flask" class="col-sm-3">Flask</dt>
        <dd class="col-sm-9">A Python web microframework for constructing web applications available at 
        <a href="http://flask.pocoo.org/">http://flask.pocoo.org/</a></dd>
    <dt id="haskell" class="col-sm-3">Haskell</dt>
        <dd class="col-sm-9">A statically typed pure functional language, more information at 
        <a href="https://www.haskell.org/">https://www.haskell.org/</a></dd>
    <dt id="iri" class="col-sm-3">International Resource Identifier (IRI)</dt>
        <dd class="col-sm-9">An network referencable resource that includes all URI (uniform resource identifier) and 
        URL (uniform resource location). An IRI can include unicode characters within the addressable
        string.</dd> 
    <dt id="knowledge-graph" class="col-sm-3">Knowledge Graph</dt>
        <dd class="col-sm-9">One or more RDF graphs that represent an institution's "facts" or information modeled as
        relationships and entities as <a href="#iri">IRI</a></dd>  
    <dt id="lld" class="col-sm-3">Library Linked-Data</dt>
        <dd class="col-sm-9">A growing </dd>
    <dt id="mods" class="col-sm-3">MODS</dt>
         <dd class="col-sm-9"></dd>
    <dt id="mvp" class="col-sm-3">Minimum Viable Product</dt>
        <dd class="col-sm-9">A concept from Lean Startup approach to software development, a Minimum Viable Product or
        (mvp for short) is a product that is implements a</dd>
    <dt id="object" class="col-sm-3">Object (RDF)</dt>
        <dd class="col-sm-9">A RDF Object &hellip;</dd>
    <dt id="orcid" class="col-sm-3">ORCID</dt>
        <dd class="col-sm-9">A persistent digital identifier for researchers located 
            <a href="https://orcid.org/">https://orcid.org/</a>
        </dd>
    <dt id="predicate" class="col-sm-3">Predicate (RDF)</dt>
        <dd class="col-sm-9">A RDF Predicate &hellip;</dd>
    <dt id="rdf" class="col-sm-3">RDF</dt>
        <dd class="col-sm-9">Short for <em>Resource Description Framework</em> a directed graph-based technology and
        an official <a href="https://www.w3.org/RDF/">specification</a> of the 
        <a href="https://www.w3.org/">W3C</a>. 
    <dt id="rdfframework" class="col-sm-3">RDF Framework</dt>
        <dd class="col-sm-9">An open-source project sponsored by KnowledgeLinks &hellip;</dd> 
    <dt id="sitemap" class="col-sm-3">Sitemap</dt>
        <dd class="col-sm-9">An <a href="https://www.sitemaps.org/">XML specification</a> for use by websites to 
        provide a list of hyperlinks available for indexing by search engines.</dd>
    <dt id="subject" class="col-sm-3">Subject (RDF)</dt>
        <dd class="col-sm-9">A RDF Subject &hellip;</dd>
</dl>
{% endblock main %}
