{% extends 'base.html' %}

{% set category='resource' %}

{% block main %}
<h1><i class="fa fa-th-list" aria-hidden="true"></i> Glossary</h1>
<dl>
    <dt>BIBCAT</dt>
    <dd>An open-source project, originally contract by the Library of Congress &hellip;</dd>
    <dt>BIBFRAME</dt>
    <dd>An RDF vocabulary created by the Library of Congress &hellip;</dd>
    <dt>Catalog Pull Platform</dt>
    <dd>Inspired by the Lean Startup and the concept of Pull Platform, an overarching vision of approaching
    bibliographic and operational &hellip; </dd>
    <dt>Library Linked-Data</dt>
    <dd>A growing </dd>
    <dt>RDF</dt>
    <dd>Short for <em>Resource Description Framework</em> a directed graph-based technology and
    an official <a href="https://www.w3.org/RDF/">specification</a> of the 
    <a href="https://www.w3.org/">W3C</a>. 
    <dt>RDF Framework</dt>
    <dd>An open-source project sponsored by KnowledgeLinks &hellip;</dd> 
</dl>
{% endblock main %}
