{% extends 'base.html' %}

{% set category='home' %}

{% block main %}
<h2>Code4Lib 2017 Preconference</h2>
<h1>{{ title }}</h1>
<p class="lead">Jeremy Nelson<br>
Metadata and Systems Librarian, 
<a href="https://www.coloradocollege.edu">Colorado College</a> &amp; CTO, <a href="http://knowledgelinks.io">KnowledgeLinks.io</a></p>


<div class="row">
    <div class="col-md-4">
        {% include 'cards/cc-etd.html' %}
    </div>
    <div class="col-md-4">
        {% include 'cards/bibcat-coalliance.html' %}
    </div>
    <div class="col-md-4">
        {% include 'cards/dpla-plains2peaks.html' %}
    </div>
</div>
<hr>
<h2>Activities</h2>
<div class="row">
    <div class="col-md-3">
        <section class="card">
            <div class="card-block">
                <h4 class="card-title">Setup Environment</h4>
                <p class="card-text">
                    We will go through the steps for setting up an development
                    environment to build RDF Applications.
                </p>
                <a href="{{ url_for('slide', page='setup-env') }}" class="btn btn-sm btn-primary pull-right">
                    Go <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </section>
    </div>
    <div class="col-md-3">
        <section class="card">
            <div class="card-block">
                <h4 class="card-title">Creating a Knowledge Graph</h4>
                <p class="card-text">
                    We will create a knowledge graph 
                    of your institution using RDF Turtle notation, <a href="http://schema.org/">Schema.org</a>
                    and <a href="http://www.loc.gov/bibframe/docs/index.html">BIBFRAME</a>
                    vocabularies.
                </p>
                <a href="{{ url_for('slide', page='create-knowledge-graph') }}" class="btn btn-sm btn-primary pull-right">
                    Go <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </section>


    </div>
    <div class="col-md-3">
        <section class="card">
            <div class="card-block">
                <h4 class="card-title">Ingesting MARC Records</h4>
                <p class="card-text">
                    Using example MARC21 records from various institutions (including your own if you
                    have them!), we will ingest these MARC records into RDF Triples that is stored in 
                    your triplestore.
                </p>
                <a href="{{ url_for('slide', page='ingesting-marc') }}" class="btn btn-sm btn-primary pull-right">
                    Go <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </section>

    </div>
    <div class="col-md-3">
        <section class="card">
            <div class="card-block">
                <h4 class="card-title">Ingesting Metadata</h4>
                <p class="card-text">
                    Based upon the work being done for the 
                    <a href="{{ url_for('slide', page='dpla-service-hub') }}">DPLA Service Hub</a> 
                    project, we will experiment with ingesting different metadata vocabularies
                    and formats into our RDF triplestore.
                </p>
                <a href="{{ url_for('slide', page='ingesting-metadata') }}" class="btn btn-sm btn-primary pull-right">
                    Go <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </section>

    </div>

</div>
{% endblock main %}
