{% extends 'base.html' %}

{% set category='activity' %}

{% block main %}
<h2>{{ title }}</h2>
<h1>Ingesting MARC</h1>
<p class="lead">
    For this activity we will use Python command-line to import the default 
    <a href="https://github.com/KnowledgeLinks/rdfw-bibcat/blob/master/ingesters/marc.py#L90">MARCIngester</a> 
    class from the <code>bibcat/ingesters/marc.py</code> module.
</p>
<h2>Ingesting a Single MARC21 Record</h2>
{% set py_prompt = 3*'&gt;' %}
<ol class="lead">
    <li>
        From your project directory, launch Python from the command-line or
        use ython IDLE: 
        <p>
            <kbd>(py3-env)&gt;python</kbd><br>
            <kbd>{{ py_prompt|safe }}{{ 13*'&nbsp;'|safe }}</kbd>
        </p>
    </li>
    <li>
        Import <code>pymarc</code> and the bibcat <code>marc</code> modules 
        <p>
            <kbd>{{ py_prompt|safe }} import pymarc</kbd><br>
            <kbd>{{ py_prompt|safe }} from bibcat.ingesters import marc</kbd>
        </p>
    </li>
    <li>
        Create an instance <code>MARCReader</code> class using your own MARC21 file 
        or download the 150 MARC Record sample from Colorado College
        <a href="{{ url_for('static', filename='mrc/cc-marc-sample.mrc') }}">here</a>.</p>
        <pre class="bg-inverse rounded" style="color: white"><code>
{{ py_prompt|safe }} reader = pymarc.MARCReader(
        open("/tmp/rdf-app/cc-marc-sample.mrc", "rb"), 
        to_unicode=True)
        </code></pre>
    </li>
    <li>
        Retrieve the first MARC21 record from the reader and print the title:<br>
        <kbd>{{ py_prompt|safe }} first_record = next(reader)</kbd><br>
        <kbd>{{ py_prompt|safe }} first_record.title()</kbd><br>
        <kbd>'Woman : an intimate geography /'</kbd>
    </li>
</ol>
<h2>Used in &hellip;</h2>
<div class="jumbotron">
<div class="row">
    <div class="col-md-4 offset-md-1">
        {% include 'cards/bibcat-coalliance.html' %}
    </div>
    <div class="col-md-6">
        <ul class="lead">
            <li>Generated Sample Set from Colorado Alliance Gold Rush&reg;
            Library Content Comparison System</li>    
            <li>MARC21 file separated into 10,000 record shards and then each
                shard was run with a separate instance of the MARC Ingester</li>
            <li>
                Result of transforming MARC into BIBFRAME Entities were saved as
                RDF Turtle files. Examples:
                <ul>
                    <li>
                        University of Colorado Boulder 40,000-to-50,000 MARC Record shard to BIBFRAME 
                        Turtle file:
                        <a href="https://github.com/KnowledgeLinks/alliance-bibcat/blob/master/data/cu-2016-40k-50k.ttl">
                        https://github.com/KnowledgeLinks/alliance-bibcat/blob/master/data/cu-2016-40k-50k.ttl</a>
                    </li>
                    <li> 
                        Colorado College MARC 10,000-to-20,000 MARC Records to BIBFRAME RDF Turtle file:
                        <a href="https://github.com/KnowledgeLinks/alliance-bibcat/blob/master/data/cc-2016-10k-20k.ttl">
                        https://github.com/KnowledgeLinks/alliance-bibcat/blob/master/data/cc-2016-10k-20k.ttl</a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
</div>
</div>
{% endblock %}
