{% extends 'base.html' %}

{% set category='resource' %}

{% block main %}
<h1><i class="fa fa-link" aria-hidden="true"></i> Links</h1>
<dl class="lead">
    <dt>Colorado Alliance BIBCAT Project</dt>
    <dd>Github source code: 
        <a href="https://github.com/KnowledgeLinks/alliance-bibcat">https://github.com/KnowledgeLinks/alliance-bibcat</a>
    </dd>
    <dd>Live site:
        <a href="http://bibcat.coalliance.org">http://bibcat.coalliance.org</a>
    </dd>
    <dt>Colorado College ETD Application</dt>
    <dd>Github source code: <a href="https://github.com/Tutt-Library/ccetd">https://github.com/Tutt-Library/ccetd</a></dd>
    <dd>Live site: <a href="https://discovery.coloradocollege.edu/etd/">https://discovery.coloradocollege.edu/etd/</a></dd>
    <dt>Colorado College Knowledge Graph</dd>
    <dd>Part of <a href="https://github.com/Tutt-Library/tiger-catalog">Tiger Catalog</a> Source Code Respository
        <ul>
            <li>
                <a href="https://github.com/Tutt-Library/tiger-catalog/blob/master/custom/colorado-college.ttl">colorado-college.ttl</a>
            </li>
            <li>
                <a href="https://github.com/Tutt-Library/tiger-catalog/blob/master/custom/cc-people.ttl">cc-people.ttl</a></li>
            <li>
                <a href="https://github.com/Tutt-Library/tiger-catalog/blob/master/custom/cc-2016-2017.ttl">cc-2016-2017.ttl</a>
            </li>
        </ul>
    </dd>
    <dt>Plains2Peaks - DPLA Service Hub</dt>
    <dd>
        Github source code: 
        <a href="https://github.com/KnowledgeLinks/dpla-service-hub">https://github.com/KnowledgeLinks/dpla-service-hub</a>
    </dd>
    <dd>
        Live site:
        <a href="https://www.plains2peaks.org/">https://www.plains2peaks.org/</a>
    </dd>
    <dd>
        DPLA Main site:
        <a href="https://dp.la">https://dp.la</a>
    </dd>
</dl>
{% endblock main %}
