{% extends 'base.html' %}

{% set category='activity' %}

{% block custom_css %}
<style>
    .step {
        background-color: rgb(48,48,48);
        color: rgb(255,255,255);
        padding: .5em;
    }

</style>
{% endblock %}
{% block main %}
<h2>{{ title }}</h2>
<h1 itemprop="title">Setup Environment</h1>

<div class="row">
    <div class="col-md-8"> 
        <h2 id="install-python">1. Download and install Python 3</h2>  
        <div class="row">
            <div class="col-sm-5 offset-sm-1">
                <img src="{{ url_for('static', filename='images/python-logo.png') }}"  
                    style="background-color: black">
            </div>
            <div class="col-sm-6">
                <p>
                    Download and install the latest Python 3 distribution (currently 
                    3.6) from the <a href="https://www.python.org/downloads/">Python website</a>. 
                    If you already have Python 3 installed,
                    please go to the <a href="#project-dir">next step</a>

                </p>
            </div>
        </div>
        <h2 id="project-dir">2. Create a Project Directory</h2> 
            <div class="row">
                <div class="col-sm-6 offset-sm-1">
                    <h3>Microsoft Windows</h3>
                    <kbd>mkdir C:\tmp\rdf-app</kbd>
                </div>
                <div class="col-sm-5">
                    <h3>POSIX (Linux, MacOS)</h3>
                    <kbd>mkdir /tmp/rdf-app</kbd>
                </div>
            </div>
        <h2 id="virtualenv">3. Create a Python Virtual environment</h2>
            <div class="row">
                <div class="col-sm-8 offset-sm-1">
                    <h3>Microsoft Windows</h3>
                    <ol>
                        <li><kbd>python3 -m venv C:\tmp\py3-env</kbd></li>
                        <li><kbd>C:\tmp\py3-env\Scripts\activate.bat</kbd></li>
                        <li><kbd>(py3-env)&gt; C:\</kbd></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 offset-sm-1">
                    <h3>POSIX (Linux, MacOS)</h3>
                    <ol>
                        <li><kbd>python3 -m venv /tmp/py3-env</kbd></li>
                        <li><kbd>source /tmp/py3-env/bin/activate</kbd></li>
                        <li><kbd>(py3-env)&gt; /</kbd></li>
                    </ol>
                </div>
            </div>

        <h2 id="install-pip">4. Install dependencies with PIP</h2>
            <div class="row">
                <div class="col-sm-11 offset-sm-1">
                    <h3>Download <code>requirements.txt</code></h3>
                    <p> Download and save the preconference requirements.txt (available on Github  
                        at <a href="https://raw.githubusercontent.com/jermnelson/code4lib-2017/master/requirements.txt">requirements.txt</a>) to your root Project directory.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 offset-sm-1">
                    <h3>Microsoft Windows</h3>
                    <ol>
                        <li><kbd>(py3-env)&gt;cd C:\tmp\rdf-app</kbd></li>
                        <li>
                            <kbd>(py3-env)C:\tmp\rdf-app&gt;pip install -r requirements.txt</kbd>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 offset-sm-1">
                    <h3>POSIX (Linux, MacOS)</h3>
                    <ol>
                        <li><kbd>(py3-env)&gt; cd /tmp/rdf-app</kbd></li>
                        <li>
                            <kbd>(py3-env)cd /tmp/rdf-app&gt;pip install -r requirements.txt</kbd>
                        </li>  
                    </ol>
                </div>
            </div>
        <h2 id="clone-bibcat-rdfw">5. Clone BIBCAT and RDFFramework</h2>
            <div class="row">
                <div class="col-sm-11 offset-sm-1">
                    Use git to clone BIBCAT and RDFFramework projects inside your project directory.
                    You can also download a zip of each repository from Github if you do not have 
                    git installed.
                </div>
            </div>


        <h2 id="run-triplestore">6. Run RDF Triplestore</h2>
            <div class='row'>
                <div class="col-sm-11 offset-sm-1">
                    Download <a href="https://www.blazegraph.com/download">Blazegraph</a> or use the 
                    <a href="https://hub.docker.com/r/jermnelson/semantic-server-core/">jermnelson/semantic-server-core</a>
                    Docker image.
                </div>
            </div>
            <div class='row'>
                <div class="col-sm-11 offset-sm-1">
                    <h3>Using Docker</h3>
                    <kbd>docker run -p 8080:8080 -p 9999:9999 jermnelson/semantic-server-core:dev</kbd>
                </div>
            </div>
            <div class='row'>
                <div class="col-sm-11 offset-sm-1">
                    <h3>Standalone Java JAR file</h3>
                    <p>After downloading the Blazegraph Jar file, you can run a simple instance of 
                    Blazegraph using java</p>
                    <kbd>java -server -jar blazegraph</kbd>
                    Blazegraph should now be running at <label>http://localhost:9999/blazegraph
                </div>
            </div>

        <h2 id="instance-config">7. Create an instance directory and <code>config.py</code></h2>
            <div class="row">
                <div class="col-sm-9 offset-sm-1">
                    <h3>Microsoft Windows</h3>
                    <ol>
                        <li>
                            <kbd>(py3-env)C:\tmp\rdf-app&gt;mkdir instance</kbd>
                        </li>
                        <li>
                            <kbd>(py3-env)C:\tmp\rdf-app&gt;touch instance\config.py</kbd>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 offset-sm-1">
                    <h3>POSIX (Linux, MacOS)</h3>
                    <ol>
                        <li>
                            <kbd>(py3-env)/tmp/rdf-app&gt;mkdir instance</kbd>
                        </li>
                        <li>
                            <kbd>(py3-env)/tmp/rdf-app&gt;touch instance/config.py</kbd>
                        </li>  
 
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 offset-sm-1">
                    <h3>Add and set these  <code>config.py</code> variables</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 offset-sm-1">
                    <dl>
                        <dt>BASE_URL</dt>
                            <dd>URL used for generating IRI</dd>
                        <dt>SECRET_KEY</dt>
                            <dd>Set this to any random string of characters</dd>
                        <dt>TRIPLESTORE_URL</dt>
                            <dd>Set this URL to the running Blazegraph instance from the
                            previous step</dd>
                    </dl>
                </div>
                <div class="col-sm-6">


                </div>
            </div>
    </div>
    <div class="col-md-4">
        <h3>Steps for creating a development environment</h3>
        <ol>
            <li>Download and install latest Python 3  
                <a href="https://www.python.org/downloads/">distribution</a> 
                <a href="#install-python"><i class="fa fa-caret-square-o-right"></i></a>
            </li>
            <li>Create a directory for your project
                <a href="#project-dir"><i class="fa fa-caret-square-o-right"></i></a>
            </li>
            <li>Create a Python Virtual environment
                <a href="#virtualenv"><i class="fa fa-caret-square-o-right"></i></a>
            </li>
            <li>Install dependencies with PIP
                <a href="#instance-pip"><i class="fa fa-caret-square-o-right"></i></a>
            </li>
            <li>Clone BIBCAT and RDFFramework
                <a href="#clone-bibcat-rdfw"><i class="fa fa-caret-square-o-right"></i></a>
            </li>
            <li>Run RDF Triplestore
                <a href="#run-triplestore"><i class="fa fa-caret-square-o-right"></i></a>
            </li>
            <li>Create an instance directory and <code>config.py</code>
                <a href="#instance-config"><i class="fa fa-caret-square-o-right"></i></a>

            </li>
        </ol>
    </div>
</div>
{% endblock %}
